.form{
    @include flexColumn;
    margin: 2rem auto 0 auto;
    border: none;
    width: 20rem;
    padding: 1rem;
    border-radius: 1.2rem;

    .inputWrap{
        @include flexColumn;
        height: 6rem;
    }
  
    .btnSubmit{
        border: 1px solid $black-color;
        transition: all 0.15s ease-out;
        border-radius: 3px;

        &:hover{
            @include btnHover;
        }
    }
}

